# Set the default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always normalize and convert to LF on checkout
*.c      text
*.h      text
*.cpp    text
*.py     text
*.java   text
*.js     text
*.html   text
*.css    text
*.md     text
*.sh     text eol=lf

# Explicitly declare files that should always have CRLF line endings on checkout
*.bat    text eol=crlf
*.cmd    text eol=crlf

# Declare binary files to be treated as binary and not converted
*.png    binary
*.jpg    binary
*.gif    binary
*.exe    binary

